#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin: 5%;
    color: #FEF2BF;
}

h1 {
    display: block;
    font-weight: bold;
    unicode-bidi: isolate;
}

body {
    text-align: center;
    background-color: #011F3F;
}

.container {
    display: block;
    width: 50%;
    margin: auto;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.btn {
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 25px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}